# String function-in Built functions:-    
->upper()--returns string which all characters in upper case  
->lower()--returns string which all characters in lower case

In [1]:
str="anil"
print(str.upper())
print(str.lower())

ANIL
anil

# Boolean Methods:-    
->islower()--method returns the output either true or false ,if it is true then the given character is in lowercase and if not true it returns false         
->isupper()--method returns the outtput either true or false,if it is true then the given character is in upper case and if not true it returns false    
->isnumeric()--method returns the output either true or false,if it is true then the given character is in numeric and if not it returns false    
->isalpha()--method returns the output either trur or false,if it is true thrn the given character is alphabet and if not it returns false  
->istitle()--retuns true or false (string is in title case)  
->isspace()--trueorfalswe

In [3]:
s='Python is Easy programming to learn and intersting'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [5]:
s= "Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [6]:
s="Python programming"
s1="python Programming"
print(s.istitle())
print(s1.istitle())

False
False

In [7]:
s="Python"
s1="python programming"
print(s.isspace())
print(s1.isspace())

False
False

# String Methods:-
1.join()--concatenates two strings       
2.split()--    
3.replace()--

In [8]:
str='python'
print(" ".join(str))

p y t h o n

In [10]:
print(",".join(["Python","Programming","Easy"]))

Python,Programming,Easy

In [11]:
lst=[","]
print(",".join(lst))

,

In [12]:
s="Python Programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [13]:
s="Python Programming";
print(s.replace("gra","application"))

Python Proapplicationmming

# python--tuples:- 
A tuple of seq of set of objects is like list only.     
The differences of list and tuples are, the tuples canoot be changed unlike list     
List will use square braketshold object[]  
list will use parentheses to hold objects()

In [15]:
t1=("python","Programming",1989,2019,"Machine learning",'AI')
t2=(1,2,3,4,5)
print(t1)
print(t2)

('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')
(1, 2, 3, 4, 5)

In [3]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
#t1[2]=2018  #del is not supported
del t1[2]

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

TypeError: 'tuple' object doesn't support item deletion

In [4]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
del t1          #since t1 is deleted so it will not run
print(t1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: name 't1' is not defined

In [5]:
t1=("Python","Programming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

In [6]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(len(t1))

6

In [7]:
t1=(12,1,5,9,8,4)
print(max(t1))

12

In [8]:
t1=(19,2,16,8,6,9)
print(min(t1))

2

In [9]:
list1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(list1)
tuple1=tuple(list1)
print(tuple1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

# Python-dictionary:-   
Dictionary each key is seperated with value by colon  
User data can be seperated from comma operator

In [2]:
user1={'Name':'sakruthi','Age':'19','Emailid':'psakruthivishnupriya@gmail.com','Mobilenumber':'970'}
print("user1[Name]=",user1['Name'])
print("user1[Emailid]=",user1['Emailid'])
print("user1[Age]=",user1['Age'])
print("user1[Mobilenumber]=",user1['Mobilenumber'])

('user1[Name]=', 'sakruthi')
('user1[Emailid]=', 'psakruthivishnupriya@gmail.com')
('user1[Age]=', '19')
('user1[Mobilenumber]=', '970')

In [10]:
user1={'Name':'Sakruthi','Age':'19','EmailID':'psakruthivishnupriya@gmail.com','Mobilenumber':'970'}
print(user1['EmailID'])
user1['EmailID']='psakruthivishnupriya@gmail.com'
print(user1['EmailID'])
user1['Address']='Hyderabad'
print(user1["Address"])

psakruthivishnupriya@gmail.com
psakruthivishnupriya@gmail.com
Hyderabad

In [12]:
user1={'Name':'Sakruthi','Age':'19','EmailID':'psakruthivishnupriya@gmail.com','Mobilenumber':'970'}
del user1['EmailID']
user1.clear()
del user1

In [13]:
user1={'Name':'Sakruthi','Age':'19','EmailID':'psakruthivishnupriya@gmail.com','Mobilenumber':'970'}
print(len(user1))
user1['Address']='Hyderabad'
print(len(user1))

4
5